<h1 mat-dialog-title>Product : {{data.name}}</h1>
<div mat-dialog-content>
  <form class="example-form">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Discount</mat-label>
        <input matInput type="number" min="0" max="100" [(ngModel)]="newDiscount" name="discount">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" min="0" [max]="newPrice === 0 ? data.quantityInStock : 1000" [(ngModel)]="newQuantity" name="quantityInStock">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" min="0" [(ngModel)]="newPrice" name="price">
      </mat-form-field>
    </p>
    <p style="color: green" *ngIf="(newQuantity - data.quantityInStock) < 0 && newPrice > 0">
      {{'Vous avez vendu ' + -(newQuantity - data.quantityInStock) + ' ' + data.name + ' pour ' + -(newQuantity - data.quantityInStock) * newPrice + '€'}}
    </p>
    <p style="color: green" *ngIf="(newQuantity - data.quantityInStock) > 0 && newPrice > 0">
      {{'Vous avez acheté ' + (newQuantity - data.quantityInStock) + ' ' + data.name + ' pour ' + (newQuantity - data.quantityInStock) * newPrice + '€'}}
    </p>
    <p style="color: red" *ngIf="newPrice === 0">
      {{'Vous avez ' + (newQuantity - data.quantityInStock) + ' ' + data.name + ' périmé(e)s'}}
    </p>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="updateDiscount()">Ok</button>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
