table {
  width: 100%;
}

.mat-column-name {
  width: 15% !important;
}

.mat-column-price {
  max-width: 10% !important;
}

.mat-column-price {
  max-width: 10% !important;
}

.mat-column-price_on_sale {
  width: 12% !important;
}

.error-cell {
  color: red;
}

tr.element-row:hover {
  background: whitesmoke;
  cursor: pointer;
}
