<mat-form-field>
  <mat-label>Category</mat-label>
  <mat-select [(ngModel)]="categoryFilter" name="category" (selectionChange)="getProducts()">
    <mat-option *ngFor="let category of categories" [value]="category.value">
      {{category.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<!--<button mat-raised-button (click)="toggleEditAllMode()">{{ editingAll ? 'Done Editing' : 'Edit All' }}</button>-->

<table mat-table [dataSource]="productList" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.key" *ngFor="let column of columnsSchema">
    <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
    <td mat-cell *matCellDef="let element">
        {{ formatData(column.key, element[column.key]) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="element-row"
      (click)="openDialog(row)"></tr>
</table>
