<!-- Toolbar -->
<div class="toolbar">
  <div class="toolbar__button">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
  </div>
</div>
