<mat-card>
    <mat-card-content>Nous allons concevoir une application web qui servira de back-office pour les points de vente distribuant les produits livrés par le Bateau de Thibault, une entreprise de type AMAP (Association pour le Maintien d'une Agriculture Paysanne). Cette application sera destinée aux gestionnaires et gérants des points relais qui proposent les produits du Bateau de Thibault. Elle aura pour fonctionnalités la visualisation et la gestion des niveaux de stock des produits, ainsi que le suivi des ventes de produits.
    </mat-card-content>
  </mat-card>
  