/*card.component.css*/
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}


.dashboard-card-content {
    margin-top: 10px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    justify-content: center;
    align-items: stretch;
}

mat-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}