<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="refreshData()" (dateInput)="refreshData()">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<mat-grid-list cols="5">
    <mat-grid-tile>
        <mat-card class="custom-card" style="background-color: blue;">
            <mat-card-content>
                Semainier <br><br>
                -- €
                <canvas id="pieChart" style="height: 4%; width: 4%;"></canvas>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="custom-card" style="background-color: yellow;">
            <mat-card-content>
                Mensuel<br><br>
                 €
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="custom-card" style="background-color: lightgreen;">
            <mat-card-content>
                Trimestriel<br><br>
                -- € 
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="custom-card" style="background-color: red;">
            <mat-card-content>
                Annuel<br><br>
                {{annuel}} €
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="custom-card" style="background-color: grey;">
            <mat-card-content>
                Impôt<br><br>
                {{impot}} €
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-card-content style="text-align: center;">
    

</mat-card-content>


<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>
            Gaphe des transactions
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div>
            <label for="categoryFilter">chiffre d’affaire :</label>
            <select id="categoryFilter" (change)="updateChart()">
              <option >semainier</option>
              <option >mensuel</option>
              <option >trimestriel</option>
              <option >annuel</option>
            </select>
            <canvas id="lineChart"></canvas>
    
        </div>
    </mat-card-content>
</mat-card>


<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>
            Latest transactions
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <table mat-table [dataSource]="transactionList" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element">
                    <!-- Vérifier si la colonne est égale à 'type' -->
                    <ng-container *ngIf="column === 'type'; else normalCell">
                        <!-- Contenu à afficher si la colonne est égale à 'type' -->
                        <mat-chip color="primary">
                            {{element[column]}}
                        </mat-chip>
                    </ng-container>
                    <ng-template #normalCell>
                        <!-- Contenu par défaut à afficher pour les autres colonnes -->
                        {{element[column]}}
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                class="element-row"
                ></tr>
        </table>
    </mat-card-content>
</mat-card>